BasedOnStyle: LLVM
PointerAlignment: Left
AlignAfterOpenBracket: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
NamespaceIndentation: All
UseTab: Always
IndentWidth: 4
TabWidth: 4
IndentAccessModifiers: true
ColumnLimit: 150
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true